<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.synarc.app.datatopup">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_tup"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_tup"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ContactUs"></activity>
        <activity android:name=".Bemobile" />
        <activity android:name=".StartActivity" />
        <activity android:name=".ScanCreditActivity" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity
            android:name=".EsiPayActivity"
            android:label="@string/title_activity_esi_pay"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>